html,
body,
#__blaze-root {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #464D4D;
	font-family: $serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	&.sideMenu {
		main {
			transform: translateX(200px);
		}
	}
}

main {
	background-color: white;
	box-sizing: border-box;
	height: 100%;
	overflow: scroll;
	padding-top: 50px;
	transition: transform $transition;
	-webkit-overflow-scrolling: touch;
	&.font {
		font-size: 1.25em;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $sans;
		font-weight: 400;
		margin: 0;
		padding: 0;
	}
	&.intro,
	&.accounts {
		font-family: $sans;
		h1,
		h2,
		h3 {
			font-weight: 700;
			letter-spacing: 0.05em;
			margin-bottom: 1em;
			text-align: left;
			text-transform: uppercase;
		}
		h1 {
			font-size: 32px;
		}
		h2 {
			font-size: 18px;
		}
	}
	a {
		color: #6495ED;
		&:hover {
			color: #aaa;
		}
	}
	.meta,
	.editor,
	.preview {
		box-sizing: border-box;
		padding: 1rem;
		position: relative;
		&::before {
			color: #aaa;
			display: block;
			line-height: 18px;
			margin-bottom: 18px;
			@include smallcaps();
		}
		a {
			&.expand,
			&.collapse {
				background-color: white;
				border: 1px solid #ccc;
				border-radius: 3px;
				color: #ccc;
				display: inline-block;
				font-size: 1rem;
				line-height: 1rem;
				padding: 0.25em;
				position: absolute;
				right: 1rem;
				top: 1rem;
				&:hover {
					background-color: #6495ED;
					border-color: #6495ED;
					color: white;
				}
			}
		}
	}
	.editor,
	.preview {
		max-width: 100%;
		transition: border $transition, font-size $transition, height $transition, opacity $transition, padding $transition, width $transition;
		a.expand,
		a.collapse {
			display: none;
		}
	}
	.meta section {
		max-height: 0;
		overflow-y: hidden;
		transition: max-height $transition;
	}
	.editor {
		&::before {
			content: 'Raw';
		}
	}
	.preview {
		display: none;
		opacity: 0;
		position: absolute;
		&::before {
			content: 'Preview';
		}
	}
	.stories {
		box-sizing: border-box;
		padding: 1em;
		a {
			color: black;
			&:hover {
				color: #aaa;
			}
		}
	}
	// expanded styles
	&.meta section {
		max-height: 500px;
	}
	&.showPreview {
		.editor {
			display: none;
			opacity: 0;
			position: absolute;
		}
		.preview {
			display: block;
			opacity: 1;
			position: relative;
		}
	}
}

@media #{$large} {
	main {
		.editor,
		.preview {
			a.expand,
			a.collapse {
				display: inline-block;
			}
		}
		.editor,
		.preview {
			display: inline-block;
			height: calc(100% - 4rem);
			min-height: calc(100% - 4rem);
			opacity: 1;
			overflow: scroll;
			position: relative;
			vertical-align: top;
			width: 50%;
			-webkit-overflow-scrolling: touch;
		}
		.editor {
			border-right: 1px solid #ddd;
		}
		.preview {
			border-left: 1px solid #ddd;
			transform: translateX(-1px);
		}
		&.sync {
			.editor,
			.preview {
				height: auto;
			}
		}
		&.editor {
			.editor {
				padding-left: 15%;
				padding-right: 15%;
				width: 100%;
			}
			.preview {
				border: none;
				height: 0;
				opacity: 0;
				padding: 0;
				width: 0;
			}
		}
		&.preview {
			.editor {
				border: none;
				height: 0;
				opacity: 0;
				padding: 0;
				width: 0;
			}
			.preview {
				padding-left: 15%;
				padding-right: 15%;
				width: 100%;
			}
		}
		&.showPreview {
			.editor,
			.preview {
				display: inline-block;
				opacity: 1;
				position: relative;
			}
		}
	}
}