body {
	background-color: white;
	font-family: $serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

main {
	padding-top: 60px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $sans;
		font-weight: 400;
		margin: 0;
		padding: 0;
	}
	.meta,
	.editor,
	.preview {
		box-sizing: border-box;
		padding: 1rem;
		position: relative;
		&::before {
			color: #aaa;
			display: block;
			margin-bottom: 1rem;
			@include smallcaps();
		}
		a {
			color: #6495ED;
			&:hover {
				color: #aaa;
			}
			&.expand,
			&.collapse {
				background-color: white;
				border: 1px solid #ccc;
				border-radius: 3px;
				color: #ccc;
				display: inline-block;
				font-size: 1rem;
				line-height: 1rem;
				padding: 0.25em;
				position: absolute;
				right: 1rem;
				top: 1rem;
				&:hover {
					background-color: #6495ED;
					border-color: #6495ED;
					color: white;
				}
			}
		}
	}
	.meta {
		max-height: 4rem;
		overflow-y: hidden;
		transition: max-height $transition;
	}
	.editor {
		transition: border $transition, height $transition, width $transition, padding $transition;
		&::before {
			content: 'Raw';
		}
	}
	.preview {
		transition: border $transition, height $transition, width $transition, padding $transition;
		&::before {
			content: 'Preview';
		}
	}
	.stories {
		box-sizing: border-box;
		padding: 1em;
	}
	// expanded styles
	&.meta {
		.meta {
			max-height: 500px;
		}
	}
}

@media #{$large} {
	main {
		.editor,
		.preview {
			display: inline-block;
			overflow: hidden;
			vertical-align: top;
			width: 50%;
		}
		.editor {
			border-right: 1px solid #ddd;
		}
		&.editor {
			.editor {
				padding-left: 15%;
				padding-right: 15%;
				width: 100%;
			}
			.preview {
				border: none;
				height: 0;
				padding: 0;
				width: 0;
			}
		}
		&.preview {
			.editor {
				border: none;
				height: 0;
				padding: 0;
				width: 0;
			}
			.preview {
				padding-left: 15%;
				padding-right: 15%;
				width: 100%;
			}
		}
	}
}