#topbar {
	background-color: white;
	// box-shadow: 0 1px 0 rgba(0,0,0,0.15),0 0 1px 0 rgba(0,0,0,0.15);
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	left: 0;
	line-height: 48px;
	padding: 0 18px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
	#logo {
		display: inline-block;
		font-family: $sans;
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
	> ul {
		float: right;
		margin: 0;
		padding: 0;
		> li {
			display: inline-block;
			font-family: $sans;
			font-size: 10px;
			font-weight: 500;
			position: relative;
			@include smallcaps();
			> a {
				display: block;
				padding: 0 18px;
				transition: none;
				&:hover {
					color: inherit;
				}
				i {
					margin-left: 10px;
				}
				span {
					display: inline;
				}
			}
			ul {
				background-color: #aaa;
				display: none;
				color: white;
				margin: 0;
				padding: 0;
				position: absolute;
				right: 0;
				white-space: nowrap;
				width: auto;
				li {
					display: block;
					margin: 0;
					padding: 0 18px;
					a {
						display: block;
						&:hover {
							color: #ddd;
						}
					}
				}
			}
			&.open {
				background-color: #aaa;
				a {
					color: white;
				}
				ul {
					display: block;
				}
			}
		}
	}
}

@media #{$small} {
	#topbar {
		ul {
			li {
				a {
					span {
						display: none;
					}
				}
			}
		}
	}
}