body.sideMenu {
	#topbar {
		transform: translateX(200px);
		a#burger {
			.l1 {
				transform: translateY(5px) rotate(-45deg);
			}
			.l2 {
				opacity: 0;
			}
			.l3 {
				transform: translateY(-5px) rotate(45deg);
			}
		}
	}
}

#topbar {
	background-color: white;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	left: 0;
	line-height: 48px;
	position: fixed;
	top: 0;
	transition: transform $transition;
	width: 100%;
	z-index: 3;
	&.hide {
		transform: translateY(-100%);
	}
	a#burger {
		background: none;
		border: none;
		display: inline-block;
		height: 48px;
		margin-left: 18px;
		margin-right: 1em;
		padding: 0;
		position: relative;
		vertical-align: top;
		width: 18px;
		span {
			background-color: black;
			display: block;
			height: 2px;
			position: absolute;
			transition: transform $transition, opacity $transition, background-color $transition;
			width: 18px;
			&.l1 {
				top: 18px;
			}
			&.l2 {
				top: 23px;
			}
			&.l3 {
				top: 28px;
			}
		}
	}
	#logo {
		display: inline-block;
		font-family: $sans;
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
	> ul {
		float: right;
		margin: 0;
		padding: 0;
		> li {
			display: inline-block;
			font-family: $sans;
			font-size: 10px;
			font-weight: 500;
			position: relative;
			@include smallcaps();
			&.hidden {
				display: none;
			}
			&.preview {
				a {
					color: #aaa;
					&:hover {
						color: black;
					}
				}
				&.active {
					a {
						color: black;
						&:hover {
							color: #aaa;
						}
					}
				}
			}
			> a {
				display: block;
				padding: 0 18px;
				transition: color $transition;
				&:hover {
					color: #aaa;
				}
				span {
					display: none;
				}
			}
			ul {
				background-color: #464D4D;
				display: none;
				color: white;
				margin: 0;
				min-width: 150px;
				padding: 0;
				position: absolute;
				right: 0;
				white-space: nowrap;
				width: auto;
				li {
					display: block;
					margin: 0;
					&.sync {
						display: none;
					}
					a {
						color: #ddd;
						display: block;
						padding: 0 18px;
						i {
							display: none;
							margin-left: 0.5em;
						}
						&:hover,
						&.active {
							background-color: #757878;
							color: white;
						}
						&.active i {
							display: inline-block;
						}
					}
				}
				&.options {
					li {
						background-color: #464D4D;
						input {
							display: none;
							& + label {
								background-color: #eee;
								border: 1px solid #888;
								border-radius: 16px;
								cursor: pointer;
								display: inline-block;
								height: 16px;
								margin-left: 18px;
								margin-right: 6px;
								outline: none;
								position: relative;
								transition: border-color $transition;
								user-select: none;
								vertical-align: middle;
								width: 30px;
								&::after {
									background-color: #464D4D;
									border-radius: 14px;
									content: '';
									display: block;
									height: 14px;
									left: 1px;
									position: absolute;
									top: 1px;
									transition: background-color $transition, transform $transition;
									width: 16px;
								}
							}
							&:checked {
								& + label {
									border-color: #aaa;
									&::after {
										background-color: #aaa;
										transform: translateX(12px);
									}
								}
							}
						}
					}
				}
			}
			&.open,
			&.active {
				background-color: #757878;
				a {
					color: white;
					&:hover {
						color: white;
					}
				}
				ul {
					display: block;
				}
			}
		}
	}
}

@media #{$large} {
	#topbar {
		ul {
			li {
				&.preview {
					display: none;
				}
				a {
					i {
						margin-right: 10px;
					}
					span {
						display: inline;
					}
				}
			}
		}
	}
}