div.preview {
	font-size: 1em;
	line-height: 1.5em;
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin-top: 1em;
		&:first-child {
			margin-top: 0;
		}
	}
	img {
		display: block;
		max-width: 100%;
	}
	p {
		margin-top: 1.25em;
		&:first-child {
			margin-top: 0;
		}
	}
	code {
		font-family: $monospace;
		font-size: 0.75em;
		height: auto;
		line-height: 1.75em;
	}
	pre {
		background-color: ghostwhite;
		border: 1px solid #ddd;
		border-radius: 3px;
		padding: 0.25em;
	}
	blockquote {
		border-left: 5px solid #ddd;
		font-size: 0.875em;
		margin: 0 1em;
		padding: 0 0.5em;
	}
}