main .stories {
	> ul {
		margin: 0;
		padding: 0;
		> li {
			box-sizing: border-box;
			font-family: $sans;
			display: block;
			& + li {
				margin-top: 1em;
			}
			&.status {
				border: none;
				box-shadow: none;
				font-family: $serif;
				font-size: 18px;
				font-style: italic;
			}
			> a {
				border: 1px solid #ddd;
				border-radius: 2px;
				box-shadow: 1px 1px 0 rgba(0,0,0,0.125);
				box-sizing: border-box;
				display: block;
				overflow: hidden;
				padding: 1em;
				> h1,
				> h2,
				> h3 {
					display: block;
				}
				> h1 {
					font-size: 18px;
					font-weight: 700;
					line-height: 22px;
				}
				> h2 {
					font-size: 14px;
				}
				> h3 {
					color: #aaa;
					line-height: 14px;
					margin-top: 0.5em;
					@include smallcaps();
				}
				> i {
					display: inline-block;
					vertical-align: middle;
				}
				div {
					font-family: $serif;
					font-size: 18px;
					margin-top: 1.5em;
					h1,
					h2,
					h3 {
						font-size: 1.25em;
						line-height: 1.25em;
					}
					ul,
					ol {
						padding-left: 1.5em;
					}
					p {
						&:first-child {
							margin-top: 0;
						}
						a {
							color: #6495ED;
							pointer-events: none;
							&:hover {
								color: #aaa;
							}
						}
					}
				}
			}
			&.new,
			&.more {
				> a {
					text-align: center;
					&::after {
						content: '';
						display: inline-block;
						height: 100%;
						vertical-align: middle;
					}
					> h3 {
						display: inline-block;
						color: white;
						font-size: 14px;
						letter-spacing: 0.05em;
						max-width: calc(100% - 20px);
						text-transform: uppercase;
					}
				}
			}
			&.new {
				> a {
					background-color: #ddd;
					color: white;
					text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
					transition: text-shadow $transition;
					&:hover {
						text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
					}
				}
			}
			&.more {
				> a {
					border: none;
					box-shadow: none;
				}
			}
		}
	}
}

@media #{$medium} {
	main .stories {
		padding: 1em 0.5em;
		> ul {
			> li {
				display: inline-block;
				vertical-align: top;
				width: calc(100% / 3);
				> a {
					height: 300px;
					margin: 0 0.5em;
				}
				&.status {
					display: block;
					margin: 0 0 0.5em 0;
					width: auto;
					> a {
						height: auto;
					}
				}
				&.status {
					display: block;
					margin: 0 0.5em;
					width: auto;
				}
			}
		}
	}
}

@media #{$large} {
	main .stories {
		padding: 1em 0.5em;
		> ul {
			> li {
				display: inline-block;
				vertical-align: top;
				width: calc(100% / 4);
				> a {
					height: 15em;
					margin: 0 0.5em;
					overflow: hidden;
				}
				&.status {
					display: block;
					margin: 0 0 0.5em 0;
					width: auto;
					> a {
						height: auto;
					}
				}
				&.status {
					display: block;
					margin: 0 0.5em;
					width: auto;
				}
			}
		}
	}
}