button {
	background-color: #ddd;
	border: none;
	border-bottom: 4px solid #ccc;
	border-radius: 4px;
	color: white;
	font-family: $sans;
	font-size: 14px;
	letter-spacing: 0.05em;
	padding: 0.25em 1.5em;
	text-shadow: 0px -1px #aaa;
	text-transform: uppercase;
	transition: background-color $transition, border-color $transition, border-width 0.125s ease-in-out, transform  0.125s ease-in-out;
	// @include smallcaps();
	& + button {
		margin-left: 0.5em;
	}
	&:hover,
	&:active {
		background-color: #ccc;
		border-color: #aaa;
	}
	&:active {
		border-width: 1px;
		transform: translateY(3px);
	}
}

.modal {
	background-color: rgba(0, 0, 0, 0.75);
	box-sizing: border-box;
	font-family: $sans;
	font-size: 16px;
	height: 100%;
	line-height: 20px;
	overflow: auto;
	padding: 1em 0;
	position: fixed;
	text-align: center;
	top: 0;
	transition: opacity 0.5s ease-in-out;
	width: 100%;
	z-index: 10;
	&::after,
	div {
		display: inline-block;
		vertical-align: middle;
	}
	&::after {
		content: '';
		height: 100%;
	}
	div {
		background-color: white;
		border-radius: 3px;
		box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.25);
		max-width: 75%;
		padding: 1em;
		position: relative;
		a.close {
			float: right;
		}
	}
	h1 {
		font-family: $sans;
		font-size: 18px;
		letter-spacing: 0.05em;
		line-height: 20px;
		text-transform: uppercase;
	}
	p {
		text-align: left;
	}
	a {
		color: #6495ED;
		&:hover {
			color: #aaa;
		}
	}
	label {
		display: block;
		text-align: left;
		span {
			display: block;
			@include smallcaps();
		}
		&.valid span::after,
		&.invalid span::after {
			display: inline-block;
			margin-left: 0.5em;
		}
		&.valid span::after {
			color: mediumseagreen;
			content: '✓';
		}
		&.invalid span::after {
			color: indianred;
			content: '✖';
		}
	}
	input,
	select,
	textarea {
		background-color: white;
		border: 1px solid #ddd;
		border-radius: 2px;
		box-sizing: border-box;
		display: block;
		font-size: 16px;
		margin-bottom: 1em;
		max-width: 100%;
		padding: 0.25em;
		resize: none;
		transition: border-color 0.25s ease-in-out;
		width: 450px;
		&:hover {
			border-color: #ccc;
		}
		&:focus {
			border-color: #aaa;
		}
	}
	select::first-child {
		color: #ccc;
		font-style: italic;
	}
	.messages {
		font-size: 14px;
		line-height: 18px;
		list-style: none;
		padding: 0;
		li + li {
			margin-top: 1em;
		}
	}
}

@media #{$large} {
	.modal div {
		max-width: 500px;
	}
}