.modal {
	background-color: rgba(0, 0, 0, 0.75);
	height: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	transition: opacity 0.5s ease-in-out;
	width: 100%;
	z-index: 10;
	&.ng-enter {
		opacity: 0;
	}
	&.ng-enter.ng-enter-active {
		opacity: 1;
	}
	&.ng-leave {
		opacity: 1;
	}
	&.ng-leave.ng-leave-active {
		opacity: 0;
	}
	&::after,
	div {
		display: inline-block;
		vertical-align: middle;
	}
	&::after {
		content: '';
		height: 100%;
	}
	div {
		background-color: white;
		box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.25);
		max-width: 99%;
		padding: 1em;
		position: relative;
		a.close {
			float: right;
		}
	}
	form {
		text-align: center;
		h1 {
			font-family: $sans;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.15em;
			line-height: 20px;
			text-transform: uppercase;
		}
		select {
			margin-bottom: 1em;
		}
		input,
		textarea {
			border: 1px solid transparent;
			border-radius: 3px;
			display: block;
			font-size: 12px;
			line-height: 20px;
			margin-bottom: 1em;
			max-width: 100%;
			resize: none;
			text-align: center;
			transition: border-color 0.25s ease-in-out;
			width: 450px;
			&[name="name"] {
				font-family: $sans;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 0.15em;
				line-height: 20px;
				text-transform: uppercase;
			}
			&[name="tags"] {
				font-family: $serif;
				font-size: 13px;
				font-style: italic;
				line-height: 15px;
			}
			&[name="notes"],
			&[name="sources"] {
				text-align: left;
			}
			&:hover {
				border-color: #ddd;
			}
			&:focus {
				border-color: #aaa;
			}
		}

	}
}