<template name="editStory">
	<header class="meta">
		<a href="#" class="expand"><i class="fa {{#if expanded "meta"}}fa-compress{{else}}fa-expand{{/if}}"></i></a>
		<h1 contentEditable="true" class="title" data-placeholder="Story title"></h1>

		<label>Byline</label>
		<h2 contentEditable="true" class="author" data-placeholder="Author name(s)"></h2>
		<label>Summary</label>
		<h3 contentEditable="true" class="dek" data-placeholder="A short summary or excerpt"></h3>
	</header>
	<div class="editor">
		<a href="#" class="expand"><i class="fa {{#if expanded "editor"}}fa-compress{{else}}fa-expand{{/if}}"></i></a>
		<textarea id="editor">{{body}}</textarea>
		<!-- {{> CodeMirror id="editor" name="editor" options=editorOptions code=editorCode}} -->
	</div><div class="preview">
		<a href="#" class="expand"><i class="fa {{#if expanded "preview"}}fa-compress{{else}}fa-expand{{/if}}"></i></a>
		<article></article>
		<!-- {{{parse "body"}}} -->
	</div>
</template>