<div>
	<a class="close" href="#" ng-click="closeModal($event)"><i class="fa fa-times"></i></a>
	
	<form class="add-item" ng-submit="addItem()">
		<select>
			<option value="">-- status --</option>
			<option value="safe">Safe</option>
			<option value="caution">Use Caution</option>
			<option value="harmful">Harmful</option>
		</select>
		<input type="text" name="thumbnail" placeholder="Thumbnail image path">
		<input type="text" name="name" placeholder="Food name">
		<textarea name="tags" placeholder="Tags (enter each on own line)"></textarea>
		<textarea name="notes" placeholder="Notes"></textarea>
		<textarea name="sources" placeholder="Sources (enter each on own line)"></textarea>

		<button name="submit">Save</button>
		<button name="cancel">Cancel</button>
	</form>
</div>