$large: 'only screen and ( min-width: 960px )';
$medium-large: 'only screen and ( min-width: 800px ) and ( max-width: 959px )';
$medium: 'only screen and ( min-width: 600px ) and ( max-width: 799px )';
$small: 'only screen and ( max-width: 599px )';