<template name="storyList">
	<div class="stories">
		<ul>
			{{#if searching}}
				{{#if term}}
					<li class="status">{{results}}</li>
				{{/if}}
			{{else}}
			<li class="new">
				<a href="/editor/new" title="Start a new story"><i class="fa fa-plus-circle"></i> Add a new story</a>
			</li>{{/if}}{{#if stories}}{{#each stories}}<li>
				<a href="/editor/{{_id}}">
					<h1>{{title}}</h1>
					<h2>{{date}}</h2>
					<div>{{{summary}}}</div>
				</a>
			</li>{{/each}}
			{{else}}
				{{#if searching}}
				{{else}}
					<li class="status">No stories!</li>
				{{/if}}
			{{/if}}
		</ul>
	</div>
</template>