<template name="intro">
	<main class="intro">
		<section id="one">
			<h1>Meteorite is for writers.</h1>

			<p>Open source, browser-based Markdown editing for the masses.</p>

			<p><a href="/login">Log in</a> or <a href="/signup">sign up</a> to get started, or <a href="#two">Read on</a> for more info.</p>
		</section>

		<section id="two">
			<h2>Easy, powerful editor</h2>

			<p>Meteorite Editor is a full-featured, open-source, cloud-based, mobile-friendly, HTML5 <a href="http://daringfireball.net/projects/markdown/">Markdown</a> editor with real-time in-browser previewing and publishing via REST API.</p>

			<h2>Cloud-based document storage</h2>

			<p>Powered by the <a href="https://www.meteor.com/">Meteor</a> framework, Meteorite Editor offers a clean, minimalist writing environment to compose, preview and collaborate on your stories before you publish.</p>
		</section>
	</main>
</template>