<template name="menu">
	{{#if showModal}}
		{{> modal}}
	{{/if}}

	<header id="topbar" class="{{#if hideMenu}}hide{{/if}}">
		<a href="#" id="burger">
			<span class="l1"></span>
			<span class="l2"></span>
			<span class="l3"></span>
		</a>
		<a href="/" id="logo">Meteorite</a>

		<ul>
			{{#if viewing "stories"}}
				<li>
					<a href="#" class="search"><span>Search</span><i class="fa fa-search"></i></a>
				</li>
				<li>
					<a href="#"><span>Sort By</span><i class="fa fa-sort"></i></a>
					<ul class="sort">
						<li><a href="#" class="sort modified">Modified</a></li>
						<li><a href="#" class="sort created">Created</a></li>
						<li><a href="#" class="sort title">Title</a></li>
						<li><a href="#" class="sort author">Byline</a></li>
						<li><a href="#" class="sort owner">Creator</a></li>
					</ul>
				</li>
			{{else}}
				<li>
					<a href="#"><span>Actions</span><i class="fa fa-pencil-square-o"></i></a>
					<ul class="actions">
						<li><a href="#" class="export md">Export as Markdown</a></li>
						<li><a href="#" class="export html">Export as HTML</a></li>
						<li><a href="#" class="route">Route story</a></li>
						<li><a href="#" class="delete">Delete story</a></li>
					</ul>
				</li>
				<li>
					<a href="#"><span>Settings</span><i class="fa fa-cog"></i></a>
					<ul class="settings">
						<li><input type="checkbox" id="font"><label for="font"></label> Large font</li>
						<li class="sync"><input type="checkbox" checked="true" id="sync"><label for="sync"></label> Scroll sync</li>
					</ul>
				</li>
				<li class="preview">
					<a href="#"><i class="fa fa-eye"></i></a>
				</li>
			{{/if}}
			<!-- <li>{{> loginButtons align="right"}}</li> -->
			<!-- <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li> -->
		</ul>
	</header>
</template>