<template name="menu">
	<header id="topbar" class="{{#if hideMenu}}hide{{/if}}">
		<a href="/" id="logo">Meteorite</a>

		<ul>
			{{#if viewing "story"}}
				<li>
					<a href="#"><span>Export</span><i class="fa fa-cloud-download"></i></a>
					<ul class="export">
						<li><a href="#" class="md">Markdown</a></li>
						<li><a href="#" class="html">HTML</a></li>
					</ul>
				</li>
			{{/if}}
			<li>
				<a href="#"><span>Settings</span><i class="fa fa-cog"></i></a>
				<ul class="settings">
					<li><input type="checkbox" id="font"><label for="font"></label> Large font</li>
					<li><input type="checkbox" checked="true" id="sync"><label for="sync"></label> Scroll sync</li>
				</ul>
			</li>
			<li>{{> loginButtons align="right"}}</li>
			<!-- <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li> -->
		</ul>
	</header>
</template>